[Unit]
Description=valheim server
After=network.target

[Service]
Type=simple
User=steam
WorkingDirectory=/home/steam
ExecStart="/home/steam/.steam/steam/steamapps/common/Valheim dedicated server/start_script.sh"
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
Alias=valheim.service
