[Unit]
Description=foundry server
After=network.target

[Service]
User=foundry
WorkingDirectory=/home/foundry/foundryvtt
ExecStart=node main.js --dataPath=/home/foundry/foundrydata
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
Alias=foundry.service
