{
  "dataPath": "{{ foundry_path | default('/home/foundry/foundrydata') }}",
  "compressStatic": {{ foundry_compress | default('true') }},
  "fullscreen": {{ foundry_fullscreen | default('false') }},
  "hostname": {{ foundry_hostname | default('null') }},
  "language": "{{ foundry_lang | default('en.core') }}",
  "localHostname": {{ foundry_local_hostname | default('null') }},
  "port": {{ foundry_port | default('30000') }},
  "protocol": {{ foundry_protocol | default('null') }},
  "proxyPort": {{ foundry_proxy_port | default('null') }},
  "proxySSL": {{ foundry_proxy_ssl | default('false') }},
  "routePrefix": {{ foundry_route_prefix | default('null') }},
  "updateChannel": "{{ foundry_update_channel | default('stable') }}",
  "upnp": {{ foundry_upnp | default('false') }},
  "upnpLeaseDuration": "{{ foundry_upnp_lease | default('null') }}",
  "awsConfig": "{{ foundry_aws_config | default('null') }}",
  "passwordSalt": "{{ foundry_pass_salt | default('null') }}",
  "sslCert": "{{ foundry_ssl_cert | default('null') }}",
  "sslKey": "{{ foundry_ssl_key | default('null') }}",
  "world": "{{ foundry_world | default('null') }}",
  "serviceConfig": "{{ foundry_service_config | default('null') }}"
}
